@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Anton');

body {
    font-family: Lato;
    color: #777777;

}

h2 {
    font-family: Anton, sans-serif;
    color: black;
    letter-spacing: 2px;
}

#logo {
    float: left;
    font-size: 220%;
}

#menu {
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 2px;
}

#logo, #menu {
    line-height: 70px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #504e4e; 
}

#menu a:hover {
    border-bottom: 1px solid #504e4e; 
}

.active {
    border-bottom: 1px solid #504e4e; 
}

#hero-image {
    background: url("../images/hero2.jpg") no-repeat center center;
    height: 800px;
    width: 100%;
    zoom: 55%;
  

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale (1)
    }
    to{
        transform: scale(1.1)
    }
}

#cover-text, cover-text h3 {
    color: #fafafa;

}

#cover-text {
    font-size: 85%;
    letter-spacing: 2px;

    width: 600px;
    height: 300px;   
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 20px;
    background-color: rgba(24, 23, 23, 0.7);
    bottom: 30px;
    right: 150px;
    position: absolute;
    


}