@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    font-family: 'Oswald', sans-serif;
}

.container-wrapper--blue {
    background-color: #235384;
    color: white;
}

.container-wrapper--gray {
    background-color: #6c757d;
    color: white;
}

.heroimage-container {
    height: 60vh;
    background: url('../images/rsz_hero2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container {
    height: 60vh;
    background: url('../images/rsz_startnow.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-container {
    height: 60vh;
    background: url('../images/rsz_hero1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-container {
    height: 60vh;
    background: url('../images/rsz_hero3.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------ Page Headers ------*/
.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
    font-weight: bold;
}


/*------Block Dividers-----*/
.block-divider {
    width: 75px;
    height: 3px;
    border: 0;
    background-color: #efefef;
}

.block-divider--blue {
    background-color: #235384;
}

.block-divider--short {
    width: 35px;
    margin-bottom: 40px;
}

/*--------- Content Containers ---------*/
.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/*--------- NavBar ---------*/
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-weight: bolder;
    font-family: 'Oswald';
    font-size: 30px;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*-------Jumbotron--------*/
.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #efefef;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #efefef;
    margin: 25px 0;
}


/*--------- Buttons -------------- */
.btn--cta {
    border-radius: 23px;
    width: 140px;
}

.btn--blue {
    color: white;
    background-color: #235384;
    border-color: #235384;
}

.btn--blue:hover,
.btn--blue:active,
.btn--blue:focus,
.btn--blue:active:focus {
    background-color: #3c88da;
    border-color: #3c88da;
    color: white;
}

/*--------- Journey -------------- */
.bio {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

/*--------- Journey -------------- */
.history-items {
    padding-left: 65px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

/*--------- Certs -------------- */
.certs {
    text-align: center;
}

/*--------- Footer -------------- */
#footer-details {
    padding-top: 30px;
    text-align: center;
}

.jgagnerforms i {
    font-size: 18px;
    color: white;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.jgagnerforms i:hover {
    color: #235384;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #235384;
}

/*--------- Signup Form -------------- */
.signup-heading {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px; 
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: white;
    background-color: #235384;
}

/*--------- Testimonials -------------- */
.testimonials-heading {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px; 
}

.testimonials-lead {
    font-weight: bold;
    padding-bottom: 50px;
}

.blockquote {
    margin-bottom: 2rem;
    font-size: 1.25rem;
}

.testimonial-box {
    padding-bottom: 50px;
}

/*--------- Services -------------- */
.service {
    padding-top: 25px;
}

.services-heading {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px; 
}

.services-lead {
    font-weight: bold;
    padding-bottom: 50px;
}

.price-summary {
    color: #235384;
    font-style: italic;
}
