@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Oswald');

body {
    font-family: 'Roboto', sans-serif;
}

.heroimage-container {
    height: 60vh;

    background: url('../images/hero2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

}

.who-is-container {

}

.journey-container {

}

.certs-container {

}


/*------Block Dividers-----*/

.block-divider {
    width: 75px;
    height: 3px;
    border: 0;
    background-color: #efefef;
}


/*--------- NavBar ---------*/

.navbar-nav {
    padding-left: 650px;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-weight: bolder;
    font-family: 'Oswald';
    font-size: 30px;
}

.navbar .navbar-nav a {
    font-weight: bold;
    
}

/*-------Jumbotron--------*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #efefef;
    font-weight: bold;
    margin-bottom: 30px;

}

.jumbotron .lead {
    color: #efefef;
    margin: 25px 0;
}

/*--------- Buttons -------------- */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--blue {
    color: white;
    background-color: #235384;
    border-color: #235384;
}

.btn--blue:hover,
.btn--blue:active,
.btn--blue:focus,
.btn--blue:active:focus {
    background-color: #3c88da;
    border-color: #3c88da;
    color: white;
}